@charset "utf-8";
.box1 {
	width: 150px;
	height: 150px;
	margin: 10px;
	border-radius: 10px;
	background-color: #FFAAD5;
 	text-align: justify;
	justify-content: center;
    	display: flex;
    	align-items: center;
    	flex-direction: column;
	-webkit-transition:all 500ms ease-in-out 0s;
	-o-transition: all 500ms ease-in-out 0s;
	transition: all 500ms ease-in-out 0s;
}
.box2 {
	width: 150px;
	height: 150px;
	margin: 10px;
	border-radius: 10px;
	text-align: justify;
	justify-content: center;
    	display: flex;
    	align-items: center;
    	flex-direction: column;
	background-color: #79FF79;
	-webkit-transition:all 500ms ease-in-out 0s;
	-o-transition: all 500ms ease-in-out 0s;
	transition: all 500ms ease-in-out 0s;
}
.box3 {
	width: 150px;
	height: 150px;
	margin: 10px;
	border-radius: 10px;
 	text-align: justify;
	justify-content: center;
    	display: flex;
    	align-items: center;
    	flex-direction: column;
	background-color: #FFED97;
	-webkit-transition:all 500ms ease-in-out 0s;
	-o-transition: all 500ms ease-in-out 0s;
	transition: all 500ms ease-in-out 0s;
}
.box1:hover {
	background: #F00078;
	font-size: 20px;
	transform: translate(25px, 25px)	
}
.box2:hover {
	background: #00A600;
	font-size: 20px;
	transform: rotate(45deg)	
}
.box3:hover {
	background: #FFD306;
	font-size: 20px;
	transform: scale(2, 2);	
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}
</style>
</head> 